* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  body {
    background-color: #000000;
  }

  .heading {
    margin-top: 90px;
    margin-left: auto;
    margin-right: inherit;
    text-align: center;
  }

  .ImageContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto 0;
    gap: 20px;
  }
 .Image{
    
     width: 25.6666%;
}
  .logoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
   align-items: center;
   gap: 62px;
  }

  

  .showoff {
    margin-left: 88px;
    text-align: center;
    margin-top: 65px;
    font-family: sans-serif; 
    font-size: 40px; 
    color: #cecece
  }
  .showoff span{
    font-family: sans-serif; 
    font-size: 40px; 
    color: #b8e986
  }

  .logoImg {
   
   text-align: center;
   max-height: 70px;
   
  }
  .logoImg img{
    max-height: 70px;
    max-width: 150px;
  }
  .logo {
    display: flex;
    justify-content: center;
  width: 80%;
  justify-content: center;
  margin: 50px auto;
  }
  .line{
    margin: 130px auto 0;
  }
  .line p {
    display: inline-block;
    width: 30px;
    /* margin: 20px 750px; */
    margin: 0 760px 12px;
    border-bottom: 2px solid #fff;
    border-radius: 0;
  }
  .line span{
    display: inline-block;
    position: absolute;
    
    width: 216px;
    right: 702px;
    /* margin: 20px 850px; */
    border-bottom: 2px solid #fff;
    border-radius: 0;
    
  }
  /* pre {
    color: #ffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  } */
  .Brands {
    display: flex;
    justify-content: center;
    margin: 35px 0 20px 38px;
  }

  .circle {
    display: flex;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: #000000;

  }
  .footline{
    margin-left: 30px;
  }
 .footline p{
    
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    text-align: center;
   
 }
 .sub {
  color: white;
   font-family: sans-serif;
   font-size: 100px;
   font-weight: 200;
 }
 
 .sub1{
    margin-top: 5px;
  color: #c0c0c0;
   font-family: sans-serif;
   font-size: 100px;
    text-align: center;
   font-size: 50px;

 }
 .sub1 span{
    color:#2b5383
 }
  
  .email {
    position: absolute;
    right: 100px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    top: 15px;
  }
  @media only screen and (max-width: 500px) {
    body{
        width: 100%;
        align-items: center;
    }
    .Image{
      width: 100%;
    }
    .logoImg{
      width: 35%;
      margin-bottom: 20px;
    }
    .logoContainer{
      width: 250%;
    }
    .heading .email{
        font-size: 12px;
        position: relative;
         top: 50px;
         left: 0;

    }
    .sub{
      margin-top: -20px;
      
    }
    .sub1{
      margin-top: 0px;

    }
   .sub {
      font-size: 30px ;
      
    }
    .sub1 {
      font-size: 12px;
      
    } 
    .showoff{
        margin-left: 0;
    }
    .logoImg img{
      width: 40%;
    }
    .line p{
        margin: 0px 129px 12px;
    }
    .line span{
        width: 148px;
       right: 102px;
    }
    .Brands{
        margin-left: 3px;
    }
    .footline p{
      font-size: 20px;
    }
   
  }